/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
body{
  color: white;
  background: #040714;
  font-family: 'Lato', sans-serif;
}
.slick-slider.slick-list {
  overflow: visible !important;
}
